 h1{
   text-align: center;
 }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  table{
    width: 100%;
  }
 
#dice{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
  width: 60%;
  font-size: 1.2em; 
}

#playerRolledDice{
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  color: #4CAF50;
  text-decoration: underline;
  border: 5px solid purple;
  border-radius: 15px;
  margin: 0 2px;
}
#playerMovement{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: purple;
  border: 5px solid #4CAF50;
  border-radius: 15px;
  margin: 0 2px;
}

#climbUpDown{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #4CAF50;
  border: 5px solid purple;
  border-radius: 15px;
  margin: 0 2px;
}
#restart{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
  width: 60%;
  height: 40%;
  font-size: 1.5em; 
  margin-top: 20%;
  margin-bottom: 10%;
  margin-left: 20%;
}

#restart{
  display: none;
}
 .container{
   display: inline-grid;
 
 }
 .item1up{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 150px;
  height: 150px;
  border: 1px solid black;
 }

 .item2up{
  grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 300px;
    height: 150px;
    text-align: center;
    border: 1px solid black;
 }
 .item3up{
  grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 150px;
    height: 150px;
    border: 1px solid black;
 }

 .item4up{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 300px;
    border: 1px solid black;
 }
.item5up{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 300px;
    border: 1px solid black;
}

#canvas{
  grid-column-start: 1;
  grid-column-end: 2;
  margin-bottom: 100px;
}
.itemDice {
  grid-column-start:2;
  grid-column-end: 3;
  border: 1px solid black;
  width: 300px;
}

.itemGif2{    
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 1px solid black;
    display: inline-block;
  }
  .item2down{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 150px;
  }
  .item3down{
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 150px;
  }
  .item4down{
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 300px;
  }
  .item5down{
    grid-column-start:5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 1px solid black;
    width: 350px;
  }
  .item6down{
    grid-column-start:6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 1px solid black;
    width: 350px;
  }
  

#sticky{
  background-color: rgba(255,255, 255, 0.75);
  position: fixed;
  bottom: 0;
  left: 0;
  
}

    /*display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 20%;
    padding: 10px 0;
    border: 3px solid black ;
    margin: 0.5% 40%;
    font-size: 1.5em; 
    */