 h1{
   text-align: center;
   border: 5px solid #888888;
   border-radius: 15px;
   background-color: rgba(158, 201, 248, 0.932);
   box-shadow: 5px 10px 18px #888888;
   padding: 1%;
   font-family: 'Aclonica';
 }
 body{
  font-family: 'Aclonica';
 }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  table{
    width: 100%;
  }
  .frontContainer{
    display: inline-grid;
  }
  .imageDiv{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border: 10px solid rgba(158, 201, 248, 0.932);
  background-color: rgba(158, 201, 248, 0.932);
  box-shadow: 5px 10px 18px #888888;
  margin-top: 3%;
  }
  .startButton{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:2;
  grid-row-end: 3;
  border: 10px solid rgba(158, 201, 248, 0.932);
  border-radius: 15px;
  margin-top: 3%;
  box-shadow: 5px 10px 18px #888888;
  }
  .rules{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start:1;
  grid-row-end: 3;
  background-color: rgba(158, 201, 248, 0.932);
  border: 10px solid rgba(158, 201, 248, 0.932);
  border-radius: 10px 80px;
  width: 880px;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 5px 10px 18px #888888;
  margin-top: 2.5%;
  }

  #imageSL{
   margin-left: auto;
   margin-right: auto;
   display: block;
   border: 10px solid #888888;
   border-radius: 15px;
  }

  #startGame{
  padding: 5px;
  background-color: #cae8ca;
  border: 10px solid #4CAF50;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.2em; 
  box-shadow: 5px 10px 18px #888888;
  }
/*----------------GAME CONTAINER---------------------------*/
/*-----------TOP CONTAINER IN GAME CONTAINER---------------*/
.gameContainer{
  display: none;
}
 .container{
   display: inline-grid;
 }

 .item1up{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 150px;
  height: 150px;
  border: 10px solid #888888;
  border-radius: 15px;
 }

 .item2up{
  grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 300px;
    height: 150px;
    background-color: #888888 ;
    border: 10px solid #888888;
    border-radius: 15px;
 }
 .item3up{
  grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 150px;
    height: 150px;
    border: 10px solid #888888;
    border-radius: 15px;
 }

 .item4up{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 210px;
    border: 10px solid #888888;
    border-radius: 15px;
 }
.item5up{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 210px;
    border: 10px solid #888888;
    border-radius: 15px;
    text-align: center;
}
#topContainer{
  border: 10px solid rgba(158, 201, 248, 0.932);
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
}
#winner{
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  color: rgb(3, 73, 5);
  }
/*----------------BUTTONS---------------------------*/
#restart{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 10px solid #4CAF50;
  width: 60%;
  font-size: 1.2em; 
  margin-top: 1%;
  margin-bottom: 5%;
  margin-left: 20%;
  box-shadow: 5px 10px 18px #888888;
}

#restart{
  display: none;
}
#backToFront{
  padding: 5px;
  background-color: #cae8ca;
  border: 10px solid #4CAF50;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 1%;
  font-size: 1.2em; 
  box-shadow: 5px 10px 18px #888888;
}
#backToFront{
  display: none;
}
/*------------------MIDDLE CONTAINERS-------------------------------------*/
#canvas{
  grid-column-start: 1;
  grid-column-end: 2;
  margin-bottom: 120px;
  border: 10px solid rgba(158, 201, 248, 0.932);
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
}
.itemDice {
  grid-column-start:2;
  grid-column-end: 3;
  width: 300px;
}

#dice{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  margin: 20%;
  background-color: #cae8ca;
  border: 10px solid #4CAF50;
  width: 60%;
  font-size: 1.2em; 
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
}
/*------------------BOTTOM CONTAINERS-------------------------------------*/
.itemGif2{    
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: inline-block;
    border: 5px solid #888888;
    border-radius: 15px;
    background-color: rgba(255,255, 255, 0.75);
  }
  .item2down{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 200px;
  }
  .item3down{
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 210px;
  }
  .item4down{
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 285px;
  }
  .item5down{
    grid-column-start:5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 285px;
  }
  .item6down{
    grid-column-start:6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
  }
   

#sticky{
  background-color: rgba(255,255, 255, 0.75);
  position: fixed;
  bottom: 0;
  left: 0;
  border: 10px solid rgba(158, 201, 248, 0.932);
  border-radius: 15px;
}

#imgDice{
  
}
#dicePicture{
  border: 5px solid #888888;
  border-radius: 15px;
}
#diceface{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 2%;
}

#playerRolledDice{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(3, 73, 5);
  text-decoration: underline;
  border: 5px solid #888888;
  border-radius: 15px;
  
  background-color: rgba(255,255, 255, 0.75);
}
#playerMovement{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: purple;
  border: 5px solid #888888;
  border-radius: 15px;
  background-color: rgba(255,255, 255, 0.75);
}

#climbUpDown{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color:  rgb(3, 73, 5);;
  border: 5px solid #888888;
  border-radius: 15px;
  background-color: rgba(255,255, 255, 0.75);
}
